<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>

<table>
  <thead>
  <tr>
    <th>Patient Name</th>
    <th>Appointment Date</th>
    <th>Days until appointment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @specialist.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name%></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.appointment_date - Date.today%></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
